@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');

    *{
        font-family: 'Outfit', sans-serif;
    }

  
.bgd{
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}


.caixaPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: fit-content;
    margin-top: auto;
    margin-bottom: 50px;
    width: 75vw;
    font-size: 20px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.7);
    padding-bottom: 50px;            
}


.gridOpcoes{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    padding-bottom: 12px;
}

.btnResp{
    background-color: #A7C7E7;
    border: 1px solid #0047AB;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    outline: none;
    height: auto;    
    font-size: 18px;
}

.btnReiniciar{
    background-color: #A7C7E7;
    border: 1px solid #0047AB;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    outline: none;
    height: auto;    
    

}

.beholder{
    height: 36vh;
    width: inherit;
    align-self: center;
}
    